* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100%;
    background-color: white;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 250px 0 250px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

span {
    color: #f9faf8;
    font-size: 24px;
}
.links {
    display: flex;
    align-items: center;
    gap: 25px;
}
